h1 {
    justify-content: center;
    text-align: center;
}

.main{
    width: 980px;
    margin: 0 auto;
}

footer {
    text-align: center;
    padding: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
}


input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}