h1 {
    justify-content: center;
    text-align: center;
}

.main{
    width: 980px;
    margin: 0 auto;
}



input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}